html,
body {
  height: 100%;
  font-family: open-sans, sans-serif;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.body {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 90px;
  z-index: 3;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: " ";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    content: " ";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}
.wrapper__count {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.intro {
  background: url(./img/audi-r8-edet-po-doroge-na-fone-holmov_1920x1200.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center center;
}
.intro__title {
  padding-top: 250px;
  font-style: normal;
  font-weight: bolder;
  font-family: open-sans, sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
p.opacity {
  font-size: calc(15px + 35 * (100vw / 1180));
  line-height: 60px;
}
@media (max-width: 767px) {
  p.opacity {
    font-size: calc(15px + (35 + 35 * 0.7) * ((100vw - 320px) / 1180));
    position: relative;
    bottom: 100px;
  }
}
.orange {
  color: #f4be6a;
}
.opacity {
  background-color: rgba(0, 0, 0, 0.7);
}
p.text {
  font-size: calc(11px + 9 * (100vw / 1180));
  line-height: 45px;
}
@media (max-width: 767px) {
  p.text {
    font-size: calc(11px + (9 + 9 * 0.7) * ((100vw - 320px) / 1180));
    line-height: 17px;
    position: relative;
    bottom: 100px;
  }
}
.container_count {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .row {
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
  }
}
.counter {
  padding-top: 85px;
  background-color: #fff;
  padding-bottom: 85px;
  font-family: open-sans, sans-serif;
}
.counter .count-name {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.counter {
  text-align: center;
  width: 100%;
}
.counter .count {
  color: #f4be6a;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .counter .count {
    color: #f4be6a;
    font-size: 28px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .contact-form-title {
    font-size: calc(10px + (10 + 10 * 0.7) * ((100vw -320px) / 1180));
  }
}
.contact-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 30px 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  justify-content: center;
}
@media (max-width: 767px) {
  .contact-form {
    max-width: 100%;
    bottom: 50px;
    transition: 0.3s;
    margin: 0;
  }
}

.contact-form__title {
  box-sizing: border-box;
  margin: 0 -30px 30px;
  padding: 15px 30px;
  width: calc(100% + 60px);
  line-height: 1.5;
  text-align: center;
  font-size: calc(10px + 10 * (100vw / 1180));
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.contact-form__description {
  display: none;
  text-align: center;
  font-size: 18px;
}

.contact-form__input-wrapper {
  margin-bottom: 20px;
}
.contact-form__input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background: #fbfbfb;
  border-radius: 5px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .contact-form__input {
    height: 30px;
  }
}

.contact-form__error {
  font-size: 0.875rem;
}

.contact-form__button {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 240px;
  margin: 0px auto 0;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  padding: 2px 0 0 0;
}

.contact-form__button:hover {
  transition: 0.3s;
  background: #f4be6a;
  text-align: center;
}

.about {
  min-height: 100vh;
  background: url(./img/cropped-1920-1080-1078320-min.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.about__title {
  padding: 65px 0;
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  line-height: 60px;
  font-family: open-sans, sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  padding-top: 100px;
  padding-bottom: 35px;
}
.iconblock,
.iconblock__2 {
  margin: 10px 0;
  transition: all 0.7s ease 0s;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.iconblock__2 {
  margin-top: 300px;
  margin-bottom: 90px;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8 {
  font-size: 64px;
  border: 6px double black;
  background-color: white;
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  border-radius: 100px;
  box-sizing: content-box;
}
.iconblock h3 {
  transition: all 0.7s ease 0s;
  color: white;
  position: relative;
  display: inline-block;
  margin: 0 0 6px 0;
  padding: 6px;
  font-size: 20px;
}
.engine,
.gear,
.batery,
.dashboard,
.st_wheel,
.turbo,
.wheel,
.femida {
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
[data-tooltip] {
  position: relative; /* Относительное позиционирование */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 300px; /* Ширина подсказки */
  margin-top: 120px;
  left: -80px;
  background: black; /* Синий цвет фона */
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}
@media (max-width: 950px) {
  .iconblock,
  .iconblock__2 {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .st_wheel {
    margin-bottom: 110px;
  }
}
.head h1 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 800;
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 27px;
}
.cost {
  min-height: 100vh;
  background: url(./img/audi-r8-v10-plus-2018-white-sports-car-sports-coupe-besthqwallpapers.com-1920x1080.jpg)
    no-repeat center;
  background-size: cover;
}
.head_cost {
  padding: 65px 0;
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  line-height: 60px;
  font-family: open-sans, sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  padding-top: 100px;
  padding-bottom: 35px;
}
.container2 > div {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: left;
  padding-right: 20px;
}
.container2 {
  background: white;
  box-shadow: 0 3px 20px black;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  position: relative;
}
.container2 > div h3 {
  color: #f4be6a;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
}
.container3 {
  min-height: 100vh;
  background: url(./img/audi-r8-v10-plus-2018-white-sports-car-sports-coupe-besthqwallpapers.com-1920x1080.jpg)
    no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}
.container3 .blocks {
  background-size: 100%;
  width: 257px;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  display: inline-block;
  margin: 0 1%;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
}
.container3 ul {
  color: black;
}
.container3 h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}
